SettingInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


BannerWidget > #galleryLabel {
    font: 28px 'Segoe UI', 'Microsoft YaHei';
    font-weight: 600;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}

QLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: white;
}
