SettingInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


BannerWidget > #galleryLabel {
    font: 28px 'Segoe UI', 'Microsoft YaHei';
    /*font: 25px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';*/
    /*font-weight: 600;*/
    font-weight: 600;
    background-color: transparent;
    color: black;
    padding-left: 10px;
}

QLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: black;
}

/*CheckBox#titleCheckBox {*/
/*    font: 40px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';*/
/*    font-weight: 600;*/
/*    color: white;*/
/*}*/
